*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;   
}
body,.body{
    height: 100vh;
    width: 100%;
    background-color: #212121;
    overflow-y: hidden;
}
.prompt-essentials {
    border: 1px solid white;
    background-color: #212121;
    width: 50%;
    right: 5px;
  }
  .newchat{
    border: 1px solid white;
  }
.sidebar{
    background-color: #1e1e1e;
    height: 95%;
    border-right: 1px solid white;
    border-top: 1px solid white;
}
.open-sidebar{
    width: 260px;
}
.close-sidebar{
    width: 0px;
}
.dropdown-selection{
    border: 1px solid white;
    user-select: none;
    background-color: rgb(63 63 63);
}
.model-selection:hover,.newchat:hover{
    background-color: rgb(63 63 63);
    
}
.model-selection{
  user-select: none !important;
}
.sidebar-content{
    height: 95%;
}
.cross{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
}
.response-message{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(63 63 63);
    color: white;
    border-radius:20px;
    padding: 15px;
    
}
.user-prompt{
    height: 30px;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    /*background-color: white;
    color: rgb(63 63 63);*/
    color: white;
    border-radius:20px;
    padding: 15px;
    font-weight: 600;
   
    font-size: 17px;
    
}
.response-body{
    width: 40%;
}
#prompt{
    resize: none !important;
    overflow: auto !important;
}
.copy-btn{
    border-radius: 50%;
    height: 30px !important;
}
/*animation*/
.cursor{
    display: block;
    margin-left: 1px;
    width: 2px;
    height: 40px;
    background-color: white;
    animation: blinkCursor 1s infinite;
}

@keyframes blinkCursor {
    from, to { opacity: 0; }
    50% { opacity: 1; }
}

#type{
    height: fit-content;
    font-size: 40px;
}
.animation{
    height: 55px;
}
.img-logo img{
    animation: rotate 20s linear infinite;
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.response::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  .response::-webkit-scrollbar:hover{
    cursor: pointer !important;
  }
  /* Style the scrollbar thumb */
  .response::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners for the scrollbar thumb */
  }
  
  /* Style the scrollbar track */
  .response::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color of the scrollbar track */
    border-radius: 5px;
  }
  .disabled-btn {
    opacity: 0.5; /* Reduce opacity to make it appear disabled */
    cursor: not-allowed; /* Change cursor to indicate non-interactivity */
    pointer-events: none; /* Disable pointer events to prevent interaction */
    /* Optionally, add other styles to visually indicate disabled state */
}
.summary{
    border:2px solid #343433;
    height: 100px;
    border-radius: 10px;
    min-width: 80%;
    width: 90%;
    transition: all 0.3s;
}
.summary:hover{
    border: 2px solid white;
}
.sidebar-content::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
  }
  
  /* Style the scrollbar thumb */
  .sidebar-content::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners for the scrollbar thumb */
  }
  
  /* Style the scrollbar track */
  .sidebar-content::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color of the scrollbar track */
    border-radius: 5px;
  }
  /*Loading btn animation*/
  .loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-top: -8px; /* Half of the spinner's height */
    margin-left: -8px; /* Half of the spinner's width */
    border: 2px solid black;
    border-top-color: white; /* Use the color of the parent element */
    border-radius: 50%;
    animation: spin 0.8s linear infinite; /* Rotate the spinner */
  }
  
  @keyframes spin {
    100% {
      transform: rotate(360deg); /* Rotate the spinner 360 degrees */
    }
  }
  .active{
    border: 2px white solid;
  }

  .copy-msg button{
    z-index: 1000;
  }
  .copy-msg:hover{
    color: #1e1e1e;
    font-weight: 600;
  }
  .scroll-down-btn{
    background-color: #1e1e1e;
    border: 1px solid white;
    left: 49%;
    opacity: 0.7;
  }
  .scroll-down-btn:hover{
    opacity: 1;
    
  }

.dark-body{
  background-color: #f1f1f1;
  color: black !important;
  color-scheme: white;
}
.dark-body .navbar nav ul li div .buttons-wrapper .newchat{
 border: 1px solid black !important;
}
.dark-sidebar-content{
  background-color: #f1f1f1;
  border-right: 2px solid black;
  border-top: 2px solid black;
}
.dark-cross svg path{
  fill: black !important;
}
.dark-toggle-sidebar svg path{
  fill: black !important;
}
.dark-prompt{
  color: black !important;
}
.dark-prompt-essentials{
  background-color: #f1f1f1;
  border: 1px solid black !important;
}
.dark-prompt-essentials .prompt-input textarea::placeholder{
  color: black !important;
}
.dark-send-prompt-btn {
  background-color: black !important;
  color: white !important;
}
.dark-send-prompt-btn span svg path{
  color: white !important;
}
.dark-dark-mode-btn{
  background-color: rgb(63 63 63) !important;
  color: white!important;
}
.dark-dark-mode-btn #toggle{
  background-color: white !important;
  color: rgb(63 63 63);
}
.dark-scroll{
  background-color: white !important;
  color: black !important;
  border: 1px solid black !important;
  opacity: 0.4;
}
.dark-scroll svg path{
  stroke: black;
}
#interaction-container:last-child{
  margin-bottom: 5px !important;
}
#interaction-container{
  padding-bottom:70px ;
}
#type{
  background-image: linear-gradient(to right, 
  #4285f4, #9b72cb, #d96570, #9b72cb, #4285f4, #d96570);  -webkit-background-clip: text; /* For Safari */
  background-clip: text;
  color: transparent;
  animation: rainbow 5s linear infinite;
  height: 50px;
}

/* Animation for continuous color change */
@keyframes rainbow {
  0% { 
    background-position: 0% 50%; 
  }
  100% { 
    background-position: 100% 50%; 
  }
}
.cursor-dark{
  background-color: black !important;
}
.selected{
  border: 1px solid black !important;
  color-scheme: dark !important;
}
.code-block{
  width: 27rem !important;
}
.code-block-wrapper{
  overflow-x: scroll;
  width: 100% !important;
}
.message pre::-webkit-scrollbar {
  height: 10px; /* Width of the scrollbar */
}

/* Style the scrollbar thumb */
.message pre::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 2px; /* Rounded corners for the scrollbar thumb */
}

/* Style the scrollbar track */
.message pre::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the scrollbar track */
  border-radius: 5px;
}
.message pre::-webkit-scrollbar-track:hover {
  cursor: pointer;
}
